# NPM
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# Build & Cache Directories
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# local env
.env*.local
sqlite.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# e2e testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
