@layer reset, base, tokens, recipes, utilities;

body {
  background-color: var(--colors-slate-950);
}

h1,
h2,
h3,
h4,
p,
a,
li {
  color: var(--colors-slate-100);
}

h1 {
  font-size: var(--font-sizes-4xl);
  font-weight: var(--font-weights-bold);
}
h2 {
  font-size: var(--font-sizes-3xl);
  font-weight: var(--font-weights-semibold);
}
h2 {
  font-size: var(--font-sizes-2xl);
}
p {
  font-size: var(--font-sizes-lg);
}
