@layer reset, base, tokens, recipes, utilities;

body {
  background: conic-gradient(
    from 90deg at 0 0,
    var(--colors-slate-950),
    var(--colors-zinc-800)
  );
}

h1,
h2,
h3,
h4,
p,
a,
li {
  color: var(--colors-slate-200);
}

h1 {
  font-weight: var(--font-weights-bold);
}
h2 {
  font-weight: var(--font-weights-semibold);
}
h3 {
  font-weight: var(--font-weights-medium);
}
p {
  color: var(--colors-slate-300);
}

i {
  font-style: italics;
}

b {
  font-style: bold;
}
